/*dev*/
@font-face {
    font-family: 'big_johnregular';
    src: url('bigjohn-webfont.woff2') format('woff2'),
         url('bigjohn-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'slim_joeregular';
    src: url('slimjoe-webfont.woff2') format('woff2'),
         url('slimjoe-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
	/*background-color: #ccc;*/
	/*font-family: lato, sans-serif;*/
}
body, html{
height: 100%;
}
.fs-wrap{
width: 1140px;
margin: 0 auto;
}
.first-section{
	background-image: url(../foliac-assets/background.jpg);
	height: 650px;
	margin: 0 auto;
	width: 1920px;
}
.head-line{
	/*display: inline-block;*/
	background: transparent;
}
.logo-line{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-top: 35px;
	-ms-align-items: center;
	align-items: center;
}
nav{
	list-style: none;
	text-decoration: none;
	padding: 0;
	padding-left: 347px;

}
.nav-item{
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	font-family: 'slim_joeregular';

}
.nav-item::after{
	content: '/';
	padding: 0 55px;
	color: #58626a;
}
.nav-item:last-child::after{
	content: '';
	padding-right: 0;

	}
.fa-logo, 
nav
{
display: inline-block;
background: transparent;

}
.title{
  font-family: 'big_johnregular';
	font-weight: 800;
	padding-top: 155px;
	padding-bottom: 30px;
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 50px;
	color: #fff;
	text-transform: uppercase;
}
.title-small{
	display: block;
	margin: 0 auto;
	text-align: center;
  font-family: 'slim_joeregular';
  color: #fff;
  font-weight: 100;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 50px;
}
.flex-but{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
justify-content: center;
}
.first-section  button{
	background-color: transparent;
	border: 2px solid #48BF72;
	color: #48BF72;
	text-transform: uppercase;
	font-size: 26px;
	padding: 15px 20px;
	display: block;
}
.second-section{
height: 1050px;
width: 1140px;
margin: 0 auto;
/*background-color: #ccc*/
}
.flex-block{
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-flow: column wrap;
height: 830px;
margin-bottom: 90px;
}
.sec-sec:nth-child(2n+1){
margin-bottom: 30px;
}
.sec-sec:nth-child(n+1):nth-child(-n+2){
margin-right: 30px;
}
.list-but{
	margin: 50px 0 55px 0;
	padding: 0;
}
.sec2{
	position: relative;
}
.sec-sec>p{
	display: inline-block;
	margin-top: 50%;
	padding-left: 30%;
	position: absolute;
}
.third-section{
	height: 500px;
	background: url(../foliac-assets/background2.jpg) no-repeat;
	margin: 0 auto;
	width: 1920px;
}
.fourth-section{
	height: 567px;
	margin: 0 615px;
}
.footer{
	height: 200px;
	margin: 0 auto;
	width: 1920px;
	background-color: #3c4955;	
}
