/*dev*/
@font-face {
	font-family: 'big_johnregular';
	src: url('../fonts/webfontkit-20171215-143306/bigjohn-webfont.woff2') format('woff2'),
	url('../fonts/webfontkit-20171215-143306/bigjohn-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'slim_joeregular';
	src: url('../fonts/webfontkit-20171215-143359/slimjoe-webfont.woff2') format('woff2'),
	url('../fonts/webfontkit-20171215-143359/slimjoe-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
*{
	/*background-color: #ccc;*/
	/*font-family: lato, sans-serif;*/
}
body, html{
	height: 100%;
}
.fs-wrap{
	width: 1140px;
	margin: 0 auto;
}
.first-section{
	background-image: url(../foliac-assets/background.jpg);
	height: 650px;
	margin: 0 auto;
	/*width: 1920px;*/
}
.head-line{
	/*display: inline-block;*/
	background: transparent;
}
.logo-line{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-top: 35px;
	-ms-align-items: center;
	align-items: center;
}
nav{
	list-style: none;
	text-decoration: none;
	padding: 0;
	padding-left: 347px;
}
.nav-item{
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	font-family: 'slim_joeregular';
	transition: ease 1s color;
}
.nav-item:hover{
	color: red;
	cursor: pointer;
	transition: ease 1s color;
}
.nav-item::after{
	content: '/';
	padding: 0 36px;
	color: #58626a;
}
.nav-item:last-child::after{
	content: '';
	padding-right: 0;

}
.fa-logo, 
nav
{
	display: inline-block;
	background: transparent;

}
.title{
	font-family: 'big_johnregular';
	font-weight: 800;
	padding-top: 155px;
	padding-bottom: 30px;
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 50px;
	color: #fff;
	text-transform: uppercase;
}
.title-small{
	display: block;
	margin: 0 auto;
	text-align: center;
	font-family: 'slim_joeregular';
	color: #fff;
	font-weight: 100;
	font-size: 30px;
	text-transform: uppercase;
	padding-bottom: 50px;
}
.flex-but{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.first-section  button{
	background-color: transparent;
	border: 2px solid #48BF72;
	color: #48BF72;
	text-transform: uppercase;
	font-size: 26px;
	padding: 15px 20px;
	display: block;

}


/******************second-section*********************/
.second-section{
	height: 1050px;
	width: 1140px;
	margin: 0 auto;
}
.flex-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column wrap;
	height: 830px;
	margin-bottom: 90px;
}
.sec-sec:nth-child(2n+1){
	margin-bottom: 30px;
}
.sec-sec{
	transition: ease 1s filter;
}
.sec-sec:nth-child(n+1):nth-child(-n+2){
	margin-right: 30px;
}
.sec-sec:hover{
	color: #4BB570;
	opacity: .7;
	filter: invert(320);
	border-radius: 15px;
	transition: ease 1s filter;
}

.list-but{
	margin: 50px 0 55px 0;
	/*margin: 0 auto;*/
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.but{
	width: 200px;
	height: auto;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	color: #3c4955;
	background-color: #eaeaea;
	border: 2px solid #eaeaea;
	border-radius: 5px;
	margin-right: 20px;
}
.list-item-but:first-child{
	margin-left:15px;
}
.but:hover{
	height: auto;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	background-color: #48bf72;
	border: 2px solid #48bf72;
	border-radius: 5px;
	cursor: pointer;
	transition: ease 1s background-color;	
}
.list-item-but{
	display: inline-block;
}
.sec2{
	position: relative;
}
.sec-sec>.app{
	display: block;
	font-weight: 800;
	font-size: 15px;
	margin-top: 240px;
	position: absolute;
	color: #fff;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.sec-sec>.forest{
	display: block;
	font-weight: 800;
	font-size: 30px;
	margin-top: 200px;
	position: absolute;
	color: #fff;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
/******************third-section*********************/

.container{
	margin-top: 100px;
	width: 300px;
	display: inline-block;
	margin-left: 900px;
	color: #fff;
}
.container>h2,h3{
	margin: 0;
}
.lorem{
	padding-bottom: 20px;
}
.but-cont{
	color: #3C4955;
	background-color: transparent;
	border: 2px solid #3C4955;
	border-radius: 5px;
	padding: 13px 22px;
	text-transform: uppercase;
	font-weight: 800;
	cursor: pointer;
}
.but-cont:hover{
	border: 2px solid red;
	background-color: white;
}
.third-section{
	height: 500px;
	background: url(../foliac-assets/background2.jpg) no-repeat;
	margin: 0 auto;
	width: 1920px;
}
/******************fourth-section*********************/
.fourth-section{
	height: 567px;
	margin: 0 615px;
}

.contact{
	display: block;
	/*margin: 0 auto;*/
	text-align: center;
	font-family: 'big_johnregular';
	color: #59C47F;
	text-transform: uppercase;
	/*font-weight: 800;*/
	font-size: 26px;
}
form{
	display: block;
	/*width: 800px;*/
	margin: 0 auto;
	text-align: center;
}

input{
	background-repeat: no-repeat;
	background-position: 0px;	
	outline: none;
	height: 46px;
	border: 2px solid #000;
	display: inline-block;
	color: #F1F1F1;
	background-color: #F1F1F1;
	margin-bottom: 30px;
}

.form-control1 {
	background-image: url('../foliac-assets/icon-user.png');   
	width: 38%;
	margin-right: 20px;
	padding-left: 50px;
	color: #000;
	font-size: 26px;
}
.form-control2 {
	background-image: url('../foliac-assets/icon-email.png');   
	width: 53%;
	padding-left: 50px;
	color: #000;
	font-size: 26px;
}
.form-control3 {
	background-image: url('../foliac-assets/icon-message.png');   
	width:100%;
	height: 222px;
		padding-left: 50px;
	color: #000;
	font-size: 26px;
}

/******************footer*********************/
.footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 200px;
	margin: 0 auto;

	/*width: 1920px;*/
	background-color: #3c4955;	
	-ms-align-items: center;
	align-items: center;
}
.addr{
	margin-left: 390px;
	margin-right: 450px;
}
.social{
	padding-left: 400px;
}